version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: bankapp
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
